@model List<Practico07.MVC.Models.CustomerView>

@{
    ViewBag.Title = "Clientes";
}
<div>
    <h1>Menu de Clientes</h1>
</div>
<div class="table table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID Cliente</th>
                <th scope="col">Nombre</th>
                <th scope="col">Empresa</th>
                <th scope="col">Ciudad</th>
                <th scope="col">País</th>
                <th scope="col">Teléfono</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model)
             {
            <tr>
                <th scope="row">@c.CustomerID</th>
                <td>@c.ContactName</td>
                <td>@c.CompanyName</td>
                <td>@c.City</td>
                <td>@c.Country</td>
                <td>@c.Phone</td>
                <td><a class="btn btn-danger" href="Delete/@c.CustomerID">X</a></td>
                <td><a class="btn btn-info" href="Update/@c">Modificar</a></td>
            </tr>
             }
        </tbody>
    </table>
</div>

<div>
    @Html.ActionLink("Nuevo Cliente", "New", "Customers")
</div>