@model Practico07.MVC.Models.CustomerView
@{
    ViewBag.Title = "Clientes";
}

<h1>Nuevo Cliente</h1>

@using (Html.BeginForm("New", "Customers", FormMethod.Post))
{   <form>
    <div class="table table-responsive">
        <table>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">ID: </th>
                    <td>@Html.TextBoxFor(c => c.CustomerID)</td>
                </tr>
                <tr>
                    <th scope="row">Empresa: </th>
                    <td>@Html.TextBoxFor(c => c.CompanyName)</td>
                </tr>
                <tr>
                    <th>Nombre: </th>
                    <td>@Html.TextBoxFor(c => c.ContactName)</td>
                </tr>
                <tr>
                    <th>Ciudad: </th>
                    <td>@Html.TextBoxFor(c => c.City)</td>
                </tr>
                <tr>
                    <th scope="row">Pais: </th>
                    <td>@Html.TextBoxFor(c => c.Country)</td>

                </tr>
                <tr>
                    <th scope="row">Telefono: </th>
                    <td>@Html.TextBoxFor(c => c.Phone)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <input type="submit" class="btn-success" name="Guardar" value="Guardar" />
    </form>
}