@model Practico07.MVC.Models.CustomerView
@{
    ViewBag.Title = "Clientes";
}

<h1>Nuevo Cliente</h1>

@using (Html.BeginForm("Update", "Customers", FormMethod.Post))
{

    <div>ID: @Html.TextBoxFor(c => c.CustomerID)</div>
    <div>Empresa: @Html.TextBoxFor(c => c.CompanyName)</div>
    <div>Nombre: @Html.TextBoxFor(c => c.ContactName)</div>
    <div>Ciudad: @Html.TextBoxFor(c => c.City)</div>
    <div>Pais: @Html.TextBoxFor(c => c.Country)</div>
    <div>Telefono: @Html.TextBoxFor(c => c.Phone)</div>
    <input type="submit" class="btn-success" name="Guardar" value="Guardar" />
}